.err-msg {
  color: red;
}

.my-radio .am-radio {
  padding: 2.5px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 5px;
}

.my-radio {
  color: #666666;
}

.am-list {
  width: 100vw;
}

.am-list-item .am-input-label {
  color: #666666;
}

.am-button-primary {
  width: 90vw;
  margin-left: 5vw;
}

.register-redirector {
  width: 100vw;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  vertical-align: middle;
  background-color: rgb(246,246,246);
  font-size: 1rem;
}

.register-login {
  color: rgb(0, 132, 255);
}