.title-container {
  padding-top: .625rem;
  padding-bottom: 1.25rem;
  margin-top: 3.6rem;
  text-align: center;
  width: 100vw;
  background-color: #FFFFFF;
}

.title, .slogan {
  color: #0084ff;
}

.title {
  font-size: 4rem;
}

.slogan {
  margin-top: .9375rem;
  font-size: 1.375rem;
}