.refind-header {
  padding-top: 7rem;
  padding-left: 1rem;
  padding-bottom: 4rem;
}

.refind-text {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 1.5rem;
}

.refind-hint {
  color: #8590a6;
  font-weight: 400;
  font-size: .9375rem;
  padding-top: 1rem;
}

.refind-redirector-container {
  color: #0084ff;
  position: relative;
  padding-top: 2rem;
  font-size: 1rem;
}

.refind-register {
  position: absolute;
  left: 1.2rem;
}

.refind-login {
  position: absolute;
  right: 1.2rem;
}