.login-register {
  color: #175199;
  font-size: 1rem;
  text-align: center;
  margin-top: 8rem;
}

.login-title-container {
  margin-top: 0;
  margin-bottom: 2rem;
  background-color: #0084ff;
}

.login-title, .login-slogan {
  color: #ffffff;
}

.login-help {
  color: #175199;
  font-size: 1rem;
}

.login-proc-container {
  color: #8590a6;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.login-protocol{
  text-decoration: underline;
}
