* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
}

/* hidden block bar */
body>div#blockbyte-bs-indicator[data-pos='right'] {
  display: none;
}

/* logo */
.title-container {
  padding-top: .625rem;
  padding-bottom: 1.25rem;
  margin-top: 3.6rem;
  text-align: center;
  width: 100vw;
  background-color: #FFFFFF;
}

.title, .slogan {
  color: #0084ff;
}

.title {
  font-size: 4rem;
}

.slogan {
  margin-top: .9375rem;
  font-size: 1.375rem;
}

/* login */
.login-register {
  color: #175199;
  font-size: 1rem;
  text-align: center;
  margin-top: 8rem;
}

.login-title-container {
  margin-top: 0;
  margin-bottom: 2rem;
  background-color: #0084ff;
}

.login-title, .login-slogan {
  color: #ffffff;
}

.login-help {
  color: #175199;
  font-size: 1rem;
}

.login-proc-container {
  color: #8590a6;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.login-protocol{
  text-decoration: underline;
}

/* register */
.err-msg {
  color: red;
}

.my-radio  {
  .am-radio {
    padding: 2.5px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 5px;
  }
}

.my-radio {
  color: #666666;
}

.am-list {
  width: 100vw;
}

.am-list-item .am-input-label {
  color: #666666;
}

.my-button {
  width: 90vw;
  // margin-left: 5vw;
}

.register-redirector {
  width: 100vw;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  vertical-align: middle;
  background-color: rgb(246,246,246);
  font-size: 1rem;
}

.register-login {
  color: rgb(0, 132, 255);
}

/* refind */
.refind-header {
  padding-top: 7rem;
  padding-left: 1rem;
  padding-bottom: 4rem;
}

.refind-text {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 1.5rem;
}

.refind-hint {
  color: #8590a6;
  font-weight: 400;
  font-size: .9375rem;
  padding-top: 1rem;
}

.refind-redirector-container {
  color: #0084ff;
  position: relative;
  padding-top: 2rem;
  font-size: 1rem;
}

.refind-register {
  position: absolute;
  left: 1.2rem;
}

.refind-login {
  position: absolute;
  right: 1.2rem;
}


/* dashboard */
.am-tab-bar{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
}

/* home */
.am-search {
  border-bottom: 1px solid #ddd;
}

.am-carousel {
  z-index: 1;
}

.am-grid, .am-grid-square, .am-grid-line {
  z-index: 1;
}

.am-card-header-content {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* me */
.recharge-card {
  background-color: #aceacf;
  width: 96vw;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 3rem;
  margin: .5rem 2vw;
  color: #8a8a8a;
}

.recharge-card:active {
  box-shadow: .05em .1em .2em rgba(0,0,0,.6) inset;
}

.me-list {
  .am-list-extra {
    flex-basis: initial;
  }
}

.me-list {
  .am-list-item {
    min-height: 3rem;
  }
}

.am-image-picker-list .am-image-picker-item .am-image-picker-item-remove {
  display: none;
}

.am-image-picker-list .am-image-picker-item .am-image-picker-item-content {
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
}

.goods-image .am-image-picker-list .am-image-picker-item .am-image-picker-item-remove {
  display: block;
}

.goods-image .am-image-picker-list .am-image-picker-item .am-image-picker-item-content {
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
}

.am-image-picker-list .am-image-picker-upload-btn {
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
}

/* me list */
// id vertify
.am-card-header-content > img {
  width: 32px;
  height: 32px;
}
// recharge
.tag-container{
  display: flex;
  padding-top: 9px;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag-container > div {
  margin-left: 9px;
  margin-bottom: 9px;
}

.recharge-other-amount {
  width: 90px;
  height: 25px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 3px;
  margin-left: 9px;
  text-align: center;
}

.recharge-other-amount:focus {
  border: 1PX solid #108ee9;
}

.recharge-amount {
  color: #0084ff;
  font-size: 1.5rem;
  margin-left: 9px;
}

.recharge-extra {
  font-size: 12px;
}

// publish
.publish-button {
  width: 100%;
  height: 90px;
  text-align: center;
  color: #888;
  font-size: 3rem;
  line-height: 90px;
  border-radius: 5px;
  background: white;
  border: 2px solid rgb(204, 204, 204);
  box-shadow: -1px 1px 4px 0px #999;
}

.publish-button:active {
  box-shadow: .05em .1em .2em rgba(0,0,0,.6) inset;
}

.am-card-body {
  div {
    overflow: hidden;
  }
}

.change-status-button:active {
  box-shadow: -0.05em -0.1em .2em rgba(0,0,0,.6) inset;
}

.change-status-button {
  width: 62px;
  height: 28px;
  border: 1px solid #bbb;
  border-radius: 4px;
  background-color: #ffffff;
}

/* category */
.am-grid, .am-grid-square, .am-grid-line {
  width: 100%;
}

.category-sub-title {
  color: #222;
  font-weight: bold;
  font-size: 14px;
  padding: 15px 0 9px 15px;
}

/* goodsInfo */
.am-list-item, .am-textarea-item {
  padding-right: 15px;
}

.goodsinfo-bottom-bar {
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  position: fixed;
  width: 100vw;
  bottom: 0;
  line-height: 40px;
  color: #f2eee0;
  font-size: 1rem;
  span:active {
    box-shadow: .05em .1em .2em rgba(0,0,0,.6) inset;
  }
}

/* about */
.about-list {
  padding: 0 30px;
  li {
    height: 30px;
  }
}

/* cart */
.cart-button:active {
  box-shadow: -0.05em -0.1em .2em rgba(0,0,0,.6) inset;
}

/* chat */
.chat-msg .am-list-content {
  word-break: break-all;
  white-space: unset !important;
}

.chat-me .am-list-content {
  padding-left: 4rem;
  text-align: right !important;
}

.chat-me .am-list-extra {
  flex-basis: 10% !important;
}